.packinhand{
width: 700px;
margin-top: 100px;
margin-bottom: -20px;
margin-right: 100px;
}

.packinhand:hover{
cursor: pointer;
}

.packinhand:active{
display: none;
}

body:has(.packinhand:active) .openpack{
display: block;
width: 700px;
margin-top: 100px;
margin-bottom: -20px;
margin-right: 100px;
}

.middlesection{
display: flex;
justify-content:flex-start;
}

.list{
list-style-type: none;
}

.description{
color: #ffffff;
max-width: 900px;
margin: auto;
text-align: center;
font-size: 30px;
margin-right: 50px;
}

.openpack{
display: none;
}

.product-triangle{
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
width: 200px;
margin-top: 50px;
margin-bottom: 100px;
}

.product-triangle:hover{
background-image: url(../images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 300px;
padding: 50px;
}

.arrow{
text-align: center;
font-size: 30px;
margin-top: -100px;
color: white;
}

.warning{
color: #ffffff;
text-align: center;
margin-top: 50px;
font-size: 30px;
margin-bottom: 50px;
}

.nosign{
width: 30%;
margin-top: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}

.nosign2{
display: none;
}

.nosign:hover{
cursor: pointer;
}

.nosign:active{
display: none;
}

.donot{
color: #ffffff;
text-align: center;
margin-top: 50px;
font-size: 30px;
margin-bottom: 50px;
display: none;
}

body:has(.nosign:active) .donot{
display: block;
color: black;
text-align: center;
margin-top: 50px;
font-size: 30px;
margin-bottom: 50px;
background-color: #ffcc00;
padding: 20px;
}

body:has(.nosign:active) .nosign2{
width: 30%;
margin-top: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}