.bottomtriangle{
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
width: 200px;
margin-top: 100px;
margin-bottom: 100px;
}

.bottomtriangle:hover{
background-image: url(images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 300px;
padding: 50px;
}

.arrow{
text-align: center;
font-size: 30px;
margin-top: -100px;
color: white;
}

.cloud-bundle{
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
margin-top: 50px;
}

.cloud-bundle:hover{
cursor: pointer;
}

.cloud-bundle:active{
display: none;
}

.triangle-clouds{
display: none;
}

body:has(.cloud-bundle:active) .triangle-clouds{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
margin-top: 50px;
}

.findyou{
display: none;
}

body:has(.cloud-bundle:active) .findyou{
color: #ffffff;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 30px;
}