.bottomtriangle{
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
width: 200px;
margin-top: 100px;
margin-bottom: 100px;
}

.bottomtriangle:hover{
background-image: url(images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 300px;
padding: 50px;
}

.arrow{
text-align: center;
font-size: 30px;
margin-top: -100px;
color: white;
}

.cloud-bundle{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
margin-top: 0px;
}

.cloud-bundle:hover{
cursor: pointer;
}

.cloud-bundle:active{
display: none;
}

.triangle-clouds{
display: none;
}

body:has(.cloud-bundle:active) .triangle-clouds{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
margin-top: 0px;
}

.findyou{
display: none;
}

body:has(.cloud-bundle:active) .findyou{
color: #ffffff;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 30px;
margin-top: -200px;
background-color: #00bfff;
position: relative;
z-index: 10;
padding: 10px;
width: 200px;
border-radius: 25px;
}

.topline{
color: #ffffff;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 30px;
}

.buycloud1{
width: 400px;
position: fixed;
bottom: 20px;
right: 20px;
}

.buycloud2{
width: 300px;
position: fixed;
bottom: 100px;
left: 50px;
}

.buycloud3{
width: 200px;
position: fixed;
bottom: 400px;
left: 200px;
}

.buycloud4{
width: 100px;
position: fixed;
bottom: 600px;
right: 20px;
}

.buycloud5{
width: 50px;
position: fixed;
bottom: 700px;
right: 300px;
}
