.background-bar{
background-color: rgba(245, 245, 245, 50%);
margin-top: 0;
display: flex;
justify-content: space-around;
align-items: center;
}

.nav-image{
max-width: 200px;
max-height: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.triangle-nav{
max-width: 200px;
max-height: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.triangle-nav:hover{
width: 300px;
padding: 50px;
background-image: url(images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.button{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
transform: scale3d(1,1,1);
transition: all 300ms;
color: #1484cd;
}

.button:hover{
transform: scale3d(1.5,1.5,1);
}

.button:visited{
color: purple;
}

.button-text{
position: absolute;
font-size: 20px;
}

.blue_cigarette{
height: 600px;
margin-top: -50px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.blue_cigarette:active{
display: none;
}

.blue_cigarette:hover{
cursor: pointer;
}

.smoke_cigarette_{
text-align: center;
display: none;
}

body:has(.blue_cigarette:active) .smoke_cigarette_{
display: block;
margin-left: auto;
margin-right: auto;
height: auto;
width: 180px;
margin-top: 3px;
height: auto;
z-index: 10;
}

.taste{
display: none;
}

body:has(.blue_cigarette:active) .taste{
display: flex;
justify-content: center;
text-align: center;
color: #ffffff;
position: relative;
font-size: 25px;
background-color: #00bfff;
padding: 5px;
max-width: 200px;
margin: auto;
margin-top: 20px;
margin-bottom: -63px;
z-index: 0;
border-radius: 30%;
}

.current-page{
background-color: rgba(255, 255, 255, 0.3);
border-radius: 50%;
padding: 10px;
}

.flame_off{
max-width: 50%;
position: absolute;
right: 0;
margin-top: 100px;
}

.flame_off:hover{
cursor: pointer;
}

.flame_off:active{
display: none;
}

.flame_on{
display: none;
}

body:has(.flame_off:active) .flame_on{
display:block;
max-width: 50%;
position: absolute;
right: 0;
margin-top: 100px;
}