.background-bar{
background-color: rgba(245, 245, 245, 50%);
margin-top: 0;
display: flex;
justify-content: space-around;
align-items: center;
}

.nav-image{
max-width: 200px;
max-height: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.triangle-nav{
max-width: 200px;
max-height: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.drop-down{
position: absolute;
display: none;
background-color: rgba(245, 245, 245, 50%);
margin-top: 0;
width: 200px;
text-align: center;
list-style-type: none;
padding: 1px;
padding-bottom: 10px;
font-size: 20px;
margin-left: 50px;
border-bottom-left-radius: 30%;
border-bottom-right-radius: 30%;
}

.menu-link{
color: #1484cd;
text-decoration: none;
}

.menu-link:visited{
color: purple;
}

.drop-down-trigger:hover .drop-down{
display: block;
}

.drop-down-trigger:hover  .triangle-nav{
width: 300px;
padding: 50px;
background-image: url(images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.button{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
transform: scale3d(1,1,1);
transition: all 300ms;
color: #1484cd;
}

.button:hover{
transform: scale3d(1.5,1.5,1);
}

.button:visited{
color: purple;
}

.button-text{
position: absolute;
font-size: 20px;
}

.middle{
display: flex;
justify-content: space-between;
}

.left_arm{
width: 40%;
height: 40%;
margin-top: 200px;
}

.right_arm{
width: 40%;
height: 40%;
margin-top: 200px;
}

.blue_cigarette{
height: 600px;
margin-top: 50px;
}

.blue_cigarette:active{
display: none;
}

.blue_cigarette:hover{
cursor: pointer;
}

.smoke_cigarette_{
display: none;
}

body:has(.blue_cigarette:active) .smoke_cigarette_{
display: flex;
justify-content: space-between;
height: auto;
width: 180px;
margin-top: 3px;
z-index: 10;
}

.taste{
display: none;
}

body:has(.blue_cigarette:active) .taste{
display: flex;
justify-content: center;
text-align: center;
color: #ffffff;
position: relative;
font-size: 25px;
background-color: #00bfff;
padding: 5px;
max-width: 200px;
margin: auto;
margin-top: 20px;
margin-bottom: -63px;
z-index: 20;
border-radius: 30%;
}

.current-page{
background-color: rgba(255, 255, 255, 0.3);
border-radius: 50%;
padding: 10px;
}