body{
margin: 0;
background-color: #00bfff;
}

.cloud-1{
width: 400px;
height: auto;
position: fixed;
bottom: 20px;
left: 250px;
}

.cloud-2{
width: 300px;
height: auto;
position: fixed;
bottom: 250px;
right: 20px;
}

.cloud-3{
width: 200px;
height: auto;
position: fixed;
bottom: 400px;
left: 15px;
}

.triangle{
width: 300px;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}

.triangle:hover{
width: 400px;
background-color: rgba(123, 217, 246, 30%);
padding: 20px;
border-radius: 100%;
}



