.paragraph{
color: #ffffff;
max-width: 1000px;
margin: auto;
margin-top: 50px;
font-size: 30px;
margin-bottom: 100px;
z-index: 0;
}

.love{
color: #ffffff;
text-align: center;
margin-top: -40px;
font-size: 75px;
position: absolute;
top: 350px;
z-index: 0;
}

.heart{
width: 30%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: -50px;
}

.heart:hover{
cursor: pointer;
}

.heart:active{
display: none;
}

.heart-parts{
display: flex;
display: none;
justify-content: center;
position: relative;
}

.heart_inhalf{
width: 50%;
z-index: 1;
}

body:has(.heart:active) .heart-parts{
display: flex;
justify-content: center;
}

.doesnt{
color: maroon;
}

.bottomtriangle{
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
width: 200px;
margin-top: 100px;
margin-bottom: 100px;
}

.bottomtriangle:hover{
background-image: url(images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 300px;
padding: 50px;
}

.arrow{
text-align: center;
font-size: 30px;
margin-top: -100px;
color: white;
}

.flame_off{
width: 50%;
height: 81vh;
}

.flame_off:hover{
cursor: pointer;
}

.flame_off:active{
display: none;
}

.flame_on{
display: none;
}

body:has(.flame_off:active) .flame_on{
display:block;
max-width: 50%;
position: absolute;
right: 0;
height: 81vh;
}

.center{
display: flex;
justify-content: space-between;
}

.left-text{
text-align: center;
margin-left: 20px;
margin-top: 100px;
display: block;
justify-content: center;
}

.fearnot{
font-size: 100px;
color: white;
}

.paragraph2{
color: #ffffff;
max-width: 1000px;
margin-left: 20px;
font-size: 30px;
margin-top: -100px;
}
