body{
margin: 0;
background-color: #ffce00;
}

.title{
display: flex;
justify-content: center;
}

.sub-title{
display: flex;
justify-content: center;
}

.id-link{
color: #ffce00;
text-decoration: none;
}

.id-link:hover{
text-decoration: underline;
}

.site-id{
background-color: black;
padding: 5px;
font-size: 20px;
color: #ffce00;
position: fixed;
top: 0;
left: 0;
right: 0;
}

.horizontal-nav{
display: flex;
justify-content: space-between;
align-items: center;
list-style-type: none;
padding: 30px;
background-color:gainsboro;
margin-top: 170px;
}

.nav-link{
color: gainsboro;
font-size: 20px;
text-decoration: none;
background-color: black;
border-color: #ffce00;
border-style: solid;
border-radius: 20px;
padding: 15px;
}

.nav-link:hover{
text-decoration: underline;
color: #ffce00;
padding: 40px;
}

.footer{
background-color: black;
color: #ffce00;
display: flex;
justify-content: center;
position:fixed;
bottom: 0;
left: 0;
right: 0;
}

.footer-list{
list-style: none;
}

.footer-link{
color: #ffce00;
font-size: 20px;
}

.links{
margin-right: 400px;
}

.main{
display: flex;
justify-content: center;
font-size: 40px;

}