body{
background-color: #00bfff;
}

.box{
background-color: rgb(20, 132, 205, 40%);
max-width: 1250px;
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
padding: 20px;
margin-top: 50px;
border-radius: 25px;
font-size: 25px;
z-index: 10;
color: white;
border: rgb(20, 132, 205);
border-style: solid;
padding-bottom: 10px;
}

.bottomtriangle{
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
width: 200px;
margin-top: 50px;
margin-bottom: 100px;
z-index: 50;
}

.bottomtriangle:hover{
background-image: url(../images_for_web/glow-.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 300px;
padding: 50px;
z-index: 50;
}

.cloud-1{
width: 500px;
height: auto;
position: absolute;
bottom: 20px;
left: 250px;
}

.cloud-2{
width: 400px;
height: auto;
position: absolute;
bottom: 250px;
right: 20px;
}

.cloud-3{
width: 300px;
height: auto;
position: absolute;
bottom: 400px;
left: 15px;
}

.cloud-1a{
width: 200px;
height: auto;
position: absolute;
bottom: 500px;
right: 500px;
}

.cloud-3a{
width: 100px;
height: auto;
position: absolute;
bottom: 700px;
left: 500px;
}

.cloud-2a{
width: 50px;
height: auto;
position: absolute;
bottom: 850px;
right: 200px;
}

.arrow{
text-align: center;
font-size: 30px;
margin-top: -100px;
color: white;
}

.cite{
margin-bottom: 10px;
}

.title{
text-align: center;
text-decoration: underline;
margin-top: 0px;
}

